:root {
	/* --color1: rgb(11, 0, 74);
	--color1: rgb(40, 26, 111);
	--color1: ss; */
	/* --color1: #003544; */
	--color1: #c2f2ff;
	/* --color1t: #00354478; */
	--color1t: #c2f2ff8a;
	--color1t: #c2f2ffed;
	/* --color2t: #0083a878; */
	--color2t: #0fcef378;
	--color2tt: #0fcdf323;
	--color2t: #00518fbd;
}

h1,
h2,
h3,
h4,
/* a, */
p,
span {
	/* TODO: Change Font */
	font-family: 'Courier New', Courier, monospace;
	/* font-family: 'Rubik', sans-serif; */
	font-weight: 500;
	color: black;
	/* text-transform: uppercase; */
}

a {
	/* color: red;
	color: #1c49c2;
	color: #007cba;
	color: black; */
	font-weight: 700;
	text-decoration: none;


}
	
header {

	padding-left: 45px;
	background-color: var(--color1t);
	min-height: 30px;
	justify-content: left;
	border-radius: 60px;
	position: fixed;
	z-index: 2;

}

.wrapper {
	margin-top: 30px;
	display: inline;
}

button {
	border: none;
	background-color: transparent;
	position: relative;
	justify-content: center;
	margin: 1em;
	font-family: "Rubik", sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: white;

}



button img {
	max-width: 10vw;

	max-height: 20vw;
}

button:hover {
	transform: scale(1.25);
	cursor: pointer;
}

/* fill up hwole page and how to get scroll */
body {
	position:relative;
	background-color: var(--color1);
	padding: 0;
	font-family: 'Courier New', Courier, monospace;
	margin: 0;
	z-index: 1;
}

#contact-info {

	text-align: center;
	bottom: 2px;
	padding: 0;


}

#contact-text {
	margin: 0;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 700;
	color:white;
	/* font-family: 'Rubik', sans-serif; */
	transition: all 0.5s ease;
}


h1 {
	font-size: 30px;
}

#main-content {
	min-height: 100vh;
	height: fit-content;
	width: 100%;
	padding-top: 100px;
}

#contact-info {
	padding-top: 75px;
}

.cards {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	transition: all 0.5s ease;
}

.card {
	height: 100px;
	width: 130px;
}

.card i {
	font-size: 40px;
}

.menu-body {
	width: 70%;  /*just for animation effect */
	height: 0px;
	padding: 0;
	margin: auto; 
	overflow: hidden;

	border-radius: 20px;
	z-index: 3;
	opacity: 0;
	display: flex;
	flex-flow: column;
	align-items: center;
	background-color: transparent;
	transition: all 0.3s ease;
}

.menu-body.show {
	padding-top: 60px;
	width: 100%;
	opacity: 1;
	transition: all 0.3s ease;
}

.menu-body p {
	text-transform: none;
	font-size: 21px;
}

/* #about-body {
	flex-flow: row;
} */

#about-body.show {
	/* display:block; */
	/* overflow: auto; */
	height: auto;
}

#projects-body.show {
	height: 1300px;
	padding-bottom: 250px;
}

#resume-body.show {
	height: 1300px;
	padding-bottom: 150px;
}

#projects-list{
	position:relative;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	/* display:block; */

}

#name-intro {
	font-weight: 400;
	color: black;
	margin-bottom: 50px;
	font-size: 45px;
}
.project {
	position: absolute;
	border-radius: 20px;
	left:50%;
	transform: translate(-50%, 0);
	background-color: var(--color2t);
	height: 60px;
	max-width: 800px;

	width: 80vw;
	text-align: center;
	vertical-align: middle;
	display:table;
	margin:auto;
	transition: all 0.7s ease;
	color: white;
}

.project-slideshow {
	position: relative;
	margin: auto;
}

.slide img {
	max-width: 100%;
}

.slide {
	/* display: none; */
	position: relative;	
	width: 100%;
}

.numbering {
	position: absolute;
	padding: 8px 12px;
	top: 0;
}


.project.hide {
	left:0;
	width: 55px;
	transform: translate(0%, 0);
}

.project.expand {
	max-width: 90vw;
	width: 85vw;
	height: 700px;
	top: 0px;
}

.p2 {
	top:100px;
}
.p3 {
	top:200px;
}
.p4 {
	top:300px;
}

/* .flex {
	flex: 1 1 auto;
	min-width: 0;
	max-width: 25%;
} */

.flex {
	padding-top: 30px;
	max-height: 250px;
	height: 20vw;
}

.menu-body img {
	flex: 1 1 auto;
	min-height: 0;
	height: 100%;
	width: auto;
	border-radius: 20px;
}



.menu-header {
	flex: 0 1 50px;
	padding: 15px;
	margin-bottom: 25px;
}

.menu-text {
	margin-top: 20px;
	margin-bottom: 40px;
	background-color: transparent;
	border-radius: 20px;
	text-align: center;
	width: 80vw;
	flex: 0 1 auto;

}


.menu-text p {
	margin: 30px;
}

.fixed-image {

	/* visibility: hidden; */
	/* aspect-ratio: 960/450; */


	background-image: linear-gradient(to top, rgba(248, 168, 77, 0.45), rgba(248, 168, 77,0));
	background-repeat: no-repeat;
	background-position: center;
	/* background-size: cover; */
	/* background-image: url('./waves.svg'); */

	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	/* height: 40%; */
	z-index: -1;
	/* height: 80%;
	z-index: -1;
	filter: brightness(.70); */
}



::-webkit-scrollbar {
	width: 0px;
}

@media screen and (max-width: 700px){
	header {
		width: 90vw;
		margin: auto;
		display: flex;
		justify-content: space-between;
		padding: 0px;
    left: 0;
    right: 0;
	}
	.head-btn {
		font-size:3vw;
		margin: 20px, auto, auto, auto;
		padding: 0px;
	}
}